.editor {
  position: relative;
  text-align: center;
  padding: 4% 0;
  /* border: 1px solid navy; */
  background-color: #b7e2c6;

  overflow-x: auto;
}

.editor .editor-header {
  position: sticky;
  left: 0;
}

.editor .editor-header h3 {
  display: inline-block;
  margin: 1% 0;
}

.menu {
  display: flex;
  justify-content: space-evenly;
  margin: 2% 0;
  padding: 2% 0;

  background-color: #6ea3a3;
}

