.editor {
  position: relative;
  text-align: center;
  padding: 4% 0;
  background-color: #b7e2c6;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  overflow-x: auto;
}

.editor .editor-header {
  position: sticky;
  left: 0;
}

.editor .editor-header h3 {
  display: inline-block;
  margin: 1% 0;
}

