pre {
  border-radius: 5px;
  padding: 2%;
  margin: 2% 0;
  background-color: #ededed;

  overflow: auto;
}

.preview {
  margin: 2% 0;
  padding: 2%;
  background-color: #b7e2c6;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
  
.preview p {
  margin: 1.5% 0;
}