form {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  width: 25vw;
  margin: 0 auto;
  align-items: stretch;
}

label { 
  margin-bottom: 5%;
  width: 100%;
}

input {
  display: block;
  width: 100%;
}